$rrr-color-primary: rgba(15, 98, 254);
$rrr-light-shadow: rgba(16, 98, 254, 0.4);

div.ui-custom-header {
    margin-bottom: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.4);

    div.nav-item {
        justify-content: left;

        div.btn {
            color: #374054;
        }
    }
}

footer.ui-custom-footer {
    margin-top: 0;
    background-color: #121212;
}

div.tag {
    background-color: $rrr-light-shadow;
}

div.render-loader {
    background-color: $rrr-color-primary;
    height: 100vh;
    width: 100%;
}
